--extra-index-url https://download.pytorch.org/whl/cpu
torch
fastapi
uvicorn
pandas
openpyxl
sentence-transformers
faiss-cpu
pydantic
python-dotenv
python-multipart
google-genai
pillow
sqlalchemy
pymysql